
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PhotoStitch</title>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="main.css">
    </head>
    <body ng-app="photoStitch">
        <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Photo Stitch</a>
                </div>
              </div>
            </nav>

            <div class="container" ng-controller="TilesCtrl">
              <div class="starter-template">
                <h1>
                    <input type="text" id="mainURL" class="url" ng-model="baseUrl">
                    <!-- <button id="save">Save Image</button> -->
                </h1>
                <p class="lead">Use this tool to enter photo service URL and get a stitched picture back.enjoy!</p>
                <p>(Hint: On the thumbnails page, click "Click to zoom", then paste the popup window's URL)</p>
              </div>
            
              <div style="width:480px; height:628px;" class="image" id="image">
                  <div class="tile" ng-repeat="tile in tiles" ng-style="{ 'top' : tile.top, 'left' : tile.left }">
                     <img ng-src="{{tile.url}}">
                  </div>
              </div>
              
              <div id="canvasImage"></div>
            </div><!-- /.container -->

        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="html2canvas.js"></script>
        <script src="main.js"></script>
    </body>
</html>
