body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.url{
	width: 800px;
	font-size: 18px;
}

.image{
	position: relative;
	overflow: hidden;
	margin-left:auto;
  	margin-right:auto;
}

.tile{
	position: absolute;
}